<h1>出発予定日は？</h1>
<div class='schedule-common'>
  <div class='schedule'>
    <%= form_with model: @plan, url: plan_schedule_path, local: true do |f| %>
      <%= f.date_field :departure_date, min: Date.current, value: Time.now.next_month.strftime("%Y-%m-%d") %><br>
      <%= f.submit '決定', class: 'btn' %>
    <% end %>
    <% unless @plan.departure_date.present? %>
      <%= link_to '未定', step3_home_path, class: 'btn undecided' %>
    <% end %>
  </div>
  <%= image_tag 'backpacker2.png',  class: 'backpacker2' %>
</div>
