<div class='footer-wrap'>
  <div class='footer'>
    <div class='content'>
      <%= link_to image_tag('passport.png', class: 'content-logo'), user_path, data: {"turbolinks" => false} %>
    </div>
    <div class='content'>
      <%= link_to image_tag('calender.png', class: 'content-logo'), plan_path %>
    </div>
    <div class='content'>
      <% if current_user.add_line_friend? %>
        <%= link_to image_tag('home.png', class: 'content-logo'), step5_home_path %>
      <% elsif current_user.departure_date_decided? %>
        <%= link_to image_tag('home.png', class: 'content-logo'), step4_home_path %>
      <% elsif current_user.days_decided? %>
        <%= link_to image_tag('home.png', class: 'content-logo'), step3_home_path %>
      <% elsif current_user.country_decided? %>
        <%= link_to image_tag('home.png', class: 'content-logo'), step2_home_path %>
      <% elsif current_user.not_plan? %>
        <%= link_to image_tag('home.png', class: 'content-logo'), step1_home_path %>
      <% end %>
    </div>
    <div class='content'>
      <%= link_to image_tag('ruck.png', class: 'content-logo'), user_items_path, data: {"turbolinks" => false} %>
    </div>
    <div class='content'>
      <%= link_to image_tag('article.png', class: 'content-logo'), user_tasks_path, data: {"turbolinks" => false} %>
    </div>
  </div>
</div>