<h1>何日間旅する？</h1>
<div class='days-common'>
  <div class="days-container">
  <%= form_with model: @plan, url: plan_day_path, local: true do |f| %>
    <div class="days">
      <%= f.radio_button :days, :one_week, class: 'radio_button', id: 'radio1', checked: true %>
     <%= f.label '１週間', class: 'label one', for: 'radio1' %><br>
    </div>
    <div class="days">
      <%= f.radio_button :days, :two_week, class: 'radio_button', id: 'radio2' %>
      <%= f.label '２週間', class: 'label two', for: 'radio2' %><br>
    </div>
    <div class="days">
      <%= f.radio_button :days, :three_week, class: 'radio_button', id: 'radio3' %>
      <%= f.label '３週間', class: 'label three', for: 'radio3' %><br>
    </div>
    <div class="days">
      <%= f.radio_button :days, :four_week, class: 'radio_button', id: 'radio4' %>
      <%= f.label '４週間', class: 'label four', for: 'radio4' %><br>
    </div>
    <div class="days">
      <%= f.radio_button :days, :more_than_one_month, class: 'radio_button', id: 'radio5' %>
      <%= f.label '１ヶ月以上', class: 'label five', for: 'radio5' %><br>
    </div>
    <%= f.submit '決定', class: 'btn' %>
  <% end %>
    <%= image_tag 'advice2.png' %>
  </div>
</div>

